<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjq40tm_KKy1mRZOgLcXDj1Uq-L4Qa6eE</string>
	<key>GCM_SENDER_ID</key>
	<string>1005396981244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractice1</string>
	<key>PROJECT_ID</key>
	<string>fir-easy-1bb61</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-easy-1bb61.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005396981244:ios:9a8199de11b0723d132e79</string>
</dict>
</plist>